/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

:root {

    /* Colors: */
    --unnamed-color-ffcc00: #FFCC00;
    --unnamed-color-da0402: #DA0402;
    --unnamed-color-e3e3e3: #E3E3E3;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-97510a: #97510A;
    --unnamed-color-555aa5: #555AA5;
    --unnamed-color-dddddd: #DDDDDD;
    --unnamed-color-ffffff: #fff;
    --unnamed-color-15ae1a: #15AE1A;
    --unnamed-color-f8f8f8: #F8F8F8;
    --unnamed-color-707070: #707070;
    --unnamed-color-f4e226: #F4E226;
    --unnamed-color-b8aaf7: #B8AAF7;
    --unnamed-color-f28f2a: #f28f2a;
    --unnamed-color-5a5a5a: #5A5A5A;
    --unnamed-color-CC6700: #CC6700;
    --unnamed-color-51568F: #51568F;
    --unnamed-color-9A9494: #9A9494;
    --unnamed-color-ed2229: #EE2F21;
    --unnamed-color-c61111: #c61111;
    --unnamed-color-94ead7: #94ead7;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Poppins, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --swiper-image-ratio: 33.3%;
    /* ratio 16:9 = 56.25% */

    --swiper-width: 50%;
    --swiper-inactive-scale: .85;
    /* makes the other slide smaller */

    /* responsive settings */
    --swiper-mobile-width: 90%;
    --swiper-mobile-inactive-scale: .95;

}

$font-stack: Poppins, sans-serif;
$body-background: #F2F2F2;
$color: #c61111;
$body-color: #5A5A5A;
$color2: #c61111;
$colorkuninggelap: #EE2F21;
$brandColor : #c61111;
$rgba_brand : rgba(8, 145, 147, 255);
$primary-color	: #c61111;
$primary-color2	: #c61111;
$primary-color3	: #c61111;
$primary-color4 : #c61111;
$primary-color5 : #c61111;

/**************************************** SOURCE BY IBAN *********************************************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Poppins:400,500");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

aside ul li a.active button {
    background: #fff;
    color: $primary-color;
}

aside ul li a.active:hover button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.full-width {
    background: transparent;
    border-top: none;
    border-bottom: none;
    padding: 40px 0;
    text-align: left;
    margin-bottom: 60px;
}

.page-width {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 6px 6px;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 1px;
    text-decoration: none;
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    display: inline-block;
    outline: none;
}

.button:hover,
.button:active {
    filter: brightness(90%);
}

/*----------------------------------------*\
|    expander CSS only below this point    |
\*----------------------------------------*/

button.expand-toggle.hidden {
    display: none;
}

div.expander {
    position: relative;
    overflow: hidden;
    max-height: 144px;
    /* starting height - best to use a multiple of line-height */
    transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    margin-bottom: 15px;
}

div.expander:before {
    /* this applies a faded gradient to the bottom of the expanding content when closed */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
    /* match this colour with the colour of the background */
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

div.expander.expanded:before {
    /* hides the gradient when expanded */
    opacity: 0;
}

@media only screen and (min-width: 480px) {

    /* adusts the max-height of the 'closed' expander for 480px+ */
    div.expander {
        max-height: 96px;
    }
}

@media only screen and (min-width: 720px) {

    /* adusts the max-height of the 'closed' expander for 720px+ */
    div.expander {
        max-height: 72px;
    }
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}